
 @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

 @font-face {
    font-family: 'Prompt';
    src: url('assets/CSS/custom.css');
}

body {
    font-family: 'Prompt', sans-serif;
    /* font-size: 48px; */
  }

h1, h2, h3, h4, h5 {
    font-family: 'Prompt', sans-serif !important;
}


p {
    font-family: 'Prompt', sans-serif !important;
}

a {
    font-family: 'Prompt';
    color: #e61212;
}

  
.f-prompt {
    font-family: 'Prompt', sans-serif;
}

.bg-red-tmw.navbarCollapse {
    background-color:#09594e !important;
}

.text-black {
    color: #f5f5f5;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-header {
    background-color: #fde8cd !important;
}
h4.mb-0 {
    color: #09594e;
}
